@model ProductDisplayModel
@{

}

<div class="my-1">
    <form>
        <form asp-action="Index"  class="row row-cols-lg-auto g-3 align-items-center">
  
            <div class="col-12">
                <label class="visually-hidden" for="sterm">Search by Title</label>
                <div class="input-group">
                    <div class="input-group-text"></div>
                    <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by title">
                </div>
            </div>
    
  <div class="col-12">
    <label class="visually-hidden" for="categoryId">Category</label>
    <select class="form-select" id="CategoryId" name="CategoryId">
                    <option selected>Category</option>
                    @foreach(var category in Model.Categories)
                    {
                        <option selected="@(category.Id == Model.CategpryId)"  value="@category.Id">@category.CategoryName</option>
                    }
    </select>
  </div>
         

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      <label class="form-check-label" for="inlineFormCheck">
        Remember me
      </label>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/Home/ProductsView/" type="reset" class="btn btn-dark">Reset</a>
  </div>
</form>
    </form>
</div>

<div class="w-100  mt-4 d-flex flex-wrap ">
    @foreach(var product in Model.Products){
        <div class="card mx-4 mb-4" style="width: 18rem;">
            @if (string.IsNullOrEmpty(product.Image))
            {
                <img style="width:100%; height:300px" "/images/NoImage.png" class="card-img-top" alt="...">
            }
            else
            {
                <img style="width:100%; height:300px" src="/images/@product.Image" class="card-img-top" alt="...">
            }
            <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <p class="card-text">@product.Description</p>
            <p class="card-text">@product.Price</p>
            <button type="button" onclick="add(@product.Id)" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    }
 </div>

@section Scripts{
    <script>
        async function add(ProductId) {
             var usernameEl = document.getElementById("username");
        if(usernameEl==null){
            window.location.href = "/Identity/Account/Login";
          
        }
            try {
                var response = await fetch(`/Cart/AddItem?ProductId=${ProductId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}